{% load i18n %}

{% block head %}
<style>
  .rp-report-section {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .rp-map-wrap {
    /* klucz: wrapper ma mieć realną wysokość */
    min-height: 650px;
    height: 650px;

    position: relative;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background: #f7f7f7;
  }

  .rp-msg {
    font-size: 12px;
    color: #444;
    padding: 8px 10px;
    border: 1px dashed #ccc;
    border-radius: 8px;
    background: #fff;
  }
  .rp-err { color: #b00020; }
</style>
{% endblock head %}

{% block body %}
<div class="rp-report-section">


  <h3>IIIF Viewer</h3>

  <!-- ko if: status -->
  <div class="rp-msg" data-bind="text: status"></div>
  <!-- /ko -->

  <!-- ko if: error -->
  <div class="rp-msg rp-err" data-bind="text: error"></div>
  <!-- /ko -->

  <!-- ko if: manifest -->
  <div class="rp-map-wrap">
    <!-- ko component: {
      name: 'iiif-map-viewer',
      params: {
        manifest: manifest,
        existingAnnotations: existingAnnotations,
        basemapStyleUrl: 'https://basemaps.cartocdn.com/gl/voyager-gl-style/style.json'
      }
    } -->
    <!-- /ko -->
  </div>
  <!-- /ko -->
</div>
{% endblock body %}