{% load i18n %}
{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet-measure@3.1.0/dist/leaflet-measure.css" />
    <style>
        .rp-report-section {
            height: 100vh;
            display: flex;
            flex-direction: column;
        }
        .rp-iiif-preview {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .rp-iiif-preview > div {
            flex: 1;
            min-height: 0;
        }
    </style>
{% endblock head %}

{% block body %}
    <div class="rp-report-section">
        <h3>IIIF image</h3>

        <!-- ko if: iiifUrl() -->
            <div class="rp-iiif-preview">
                <!-- kontener dla Leaflet -->
                <div data-bind="attr: { id: viewerId }">
                </div>
            </div>
        <!-- /ko -->

        <!-- ko ifnot: iiifUrl() -->
            <p>No IIIF URL stored for this resource.</p>
        <!-- /ko -->
    </div>
{% endblock body %}
{% block scripts %}
    <script src="https://unpkg.com/leaflet-measure@3.1.0/dist/leaflet-measure.js"></script>
{% endblock scripts %}