*.pyc
*.log
node_modules
coverage/
arches_for_excavation/logs
arches_for_excavation/export_deliverables
arches_for_excavation/cantaloupe/*
arches_for_excavation/staticfiles
arches_for_excavation/media/packages
arches_for_excavation/media/build/
arches_for_excavation/uploadedfiles/*
arches_for_excavation/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
frontend_configuration

# Packaging
build/
dist/
