<style>
.workflow-tab-controls {
    display: none;
}
.tabbed-workflow-step-container {
    overflow-y: auto;
}
.workflow-nav-tabs {
    overflow-x: auto;
}

section {
    height: 100%;
    display: flex;
    flex-direction: column;
}
</style>

<section class="workflow-step">
    <h3>Create Local Corodinate System using 2 points and direction</h3>
    <div data-bind="visible: infoMessage" class="alert alert-info">
        <span class="glyphicon glyphicon-refresh spinning"></span> 
        <span data-bind="text: infoMessage"></span>
    </div>
    <div data-bind="visible: errorMessage" class="alert alert-danger">
        <span data-bind="text: errorMessage"></span>
    </div>
    <div data-bind="visible: successMessage" class="alert alert-success">
        <span data-bind="text: successMessage"></span>
    </div>
    <form data-bind="submit: submitForm" class="crs-form">
        <div class="form-group">
            <label for="crs-name">Name</label>
            <input type="text" class="form-control" id="crs-name" name="name" required>
        </div>
        <div class="form-group">
            <label for="crs-description">Description</label>
            <textarea class="form-control" id="crs-description" name="description" rows="3"></textarea>
        </div>

        <hr>

        <div class="form-group">
            <label for="origin-local-x">Origin Local X</label>
            <input type="number" step="any" class="form-control" id="origin-local-x" name="origin_local_x" required>
        </div>

        <div class="form-group">
            <label for="origin-local-y">Origin Local Y</label>
            <input type="number" step="any" class="form-control" id="origin-local-y" name="origin_local_y" required>
        </div>

        <div class="form-group">
            <label for="origin-longitude">Origin Longitude</label>
            <input type="number" step="any" class="form-control" id="origin-longitude" name="origin_longitude" required>
        </div>

        <div class="form-group">
            <label for="origin-latitude">Origin Latitude</label>
            <input type="number" step="any" class="form-control" id="origin-latitude" name="origin_latitude" required>
        </div>

        <div class="form-group">
            <label for="direction-longitude">Direction Longitude</label>
            <input type="number" step="any" class="form-control" id="direction-longitude" name="direction_longitude" required>
        </div>

        <div class="form-group">
            <label for="direction-latitude">Direction Latitude</label>
            <input type="number" step="any" class="form-control" id="direction-latitude" name="direction_latitude" required>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create CRS</button>
        </div>
    </form>
</section>