<style>
    .install-buttons {
        position: static !important; 
        display: flex !important;
        justify-content: flex-end; 
        padding: 10px 0;
        margin-top: 20px;
        background: transparent !important;
        width: 100%;
        z-index: 1000;
    }
    .close-new-step {
        display: none;
    }
</style>
<div data-bind="with: newResourceInstance">
    <!-- ko component: {
        name: 'related-instance-creator',
        params: $parent.creatorParams()
    } --><!-- /ko -->
</div>